@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Light_Italic.woff2') format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Regular_Italic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: local('Marianne'), url('./Marianne-Bold_Italic.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: local('Spectral'), url('./Spectral-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: local('Spectral'), url('./Spectral-ExtraBold.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Marianne';
}
