@font-face {
  font-family: 'Marianne';
  font-style:  normal;
  font-weight: 400;
  src: local('Marianne'), url('./Marianne/Marianne-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Marianne';
  font-style:  normal;
  font-weight: 300;
  src: local('Marianne'), url('./Marianne/Marianne-Light.woff2') format("woff2");
}

@font-face {
  font-family: 'Marianne';
  font-style:  normal;
  font-weight: 500;
  src: local('Marianne'), url('./Marianne/Marianne-Medium.woff2') format("woff2");
}
@font-face {
  font-family: 'Marianne';
  font-style:  normal;
  font-weight: 200;
  src: local('Marianne'), url('./Marianne/Marianne-Thin.woff2') format("woff2");
}

@font-face {
  font-family: 'Marianne';
  font-style:  normal;
  font-weight: 600;
  src: local('Marianne'), url('./Marianne/Marianne-Bold.woff2') format("woff2");
}
@font-face {
  font-family: 'Marianne';
  font-style:  italic;
  font-weight: 700;
  src: local('Marianne'), url('./Marianne/Marianne-Extrabold.woff2') format("woff2");
}
body {
  font-family: 'Marianne';
}
